

@font-face {
    font-family: "poppins" ;
    src: url(../fonts/poppins.ttf);
}
@font-face {
    font-family: "poppins-medium" ;
    src: url(../fonts/Poppins-Medium.ttf);
}

html {
    scroll-behavior: smooth;
  }
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    position: relative;
}
.font-medium{
    font-family: "poppins-medium";
}
.align{
    margin-bottom:20px;
}

nav{
    background-color: #0475ba;
    height: 72px;
    display: flex;
    align-items:center;
    position:sticky;
    top:0;
    overflow:hidden;
    z-index:1;
    border-bottom:5px solid #9bc5df1f;
}
.text-white{
    color:white;
}
.text-blue{
    color:#0475ba;
}
.name{
    padding-right:40px;
    padding-left:20px;
    font-weight:bold;
}
.nav-list{
    display: flex;
}
.nav-list a{
    margin:10px;
    color:white;
    text-decoration: none;
}
.profil{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:40px;
}

.profil-right img{
    height:150px;
    width:150px;
    border-radius:100px;
}
.app{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.profil-name{
    font-weight: bold;
    font-size:25px;
    text-align: center;
    margin-top:40px;
}
.profil-desc{
    color:#0475ba;
    font-size:20px;
    margin-bottom:40px;
}


.presentation{
    background-color: #0475ba;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.presentation ul{
    list-style-type: none;

}
.presentation p{
    font-weight: bold;
}  
.center-profil{
    display: flex;
    justify-content: center;
    margin-top:40px;
    margin-bottom:40px;
    width:50%;
    justify-content: space-around;
}

.center1{
    display: flex;
    justify-content: center;
    margin-top:40px;
    margin-bottom:40px;
    width:50%;
    justify-content: space-around;
}
.experience{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center2{   
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:40px;
    margin-bottom:40px;
    width:50%;
}

.exp{
    display: flex;
    justify-content: space-between;
    padding-bottom:10px;
    padding-top:20px;
}
.exp2{
    display: flex;
    justify-content: space-between;
    padding-bottom:10px;
    color:white;
}

.experience-title{
    font-weight: bold;
    padding-bottom:10px;
}
.experience-right{
    font-weight: bold;
}


.formation{
    background-color:#0475ba;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bold{
    font-weight:bold
}
.passion{
    display: flex;
    align-items: center;
    justify-content: center;
}
.passion-list{
    margin-top:10px;
}
.social{
    background-color: #0475ba;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social a{
    color:white;
}
.social svg{
    height:20px;
    width:20px;
    color:white;
}
.link-svg{
    display: flex;
}
.link-social{
    margin-top:20px;
}
.up{
    height:60px;
    width:60px;
    background-color: #0475ba;
    position:fixed;
    left:93%;
    border-radius:100px;
    bottom:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px black solid;
}
.up svg{
    height:50px;
    width:50px;
    color:white;
}

@media (max-width: 900px) { 

    .center-profil{
        flex-direction: column;
        width:70%;
        justify-content: center;
        align-items: center;
        margin:0;
    }
    .center2{
        width:90%;
    }
    .align{
        text-align:center;
    }
    .up{
        left:80%;
    }
}

@media (max-width: 576px) { 
    .nav-list{
        display:none;
    }
    .up{
        display: none;
    }
}

